$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-Group-71: "\e900";
$icon-happiness: "\e901";
$icon-Image-2: "\e902";
$icon-magnifying-glass: "\e903";
$icon-notification-bell-outline-interface-symbol: "\e904";
$icon-paper: "\e905";
$icon-people: "\e906";
$icon-send-button: "\e907";
$icon-up-arrow: "\e908";
$icon-upload: "\e909";

